.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}

.logo {
  height: 60px;
}

.left-logo {
  margin-right: auto;
}

.right-logo {
  margin-left: auto;
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
